# Summary:
# Automatically tag and release when changes land on the "main" branch.
#
# See https://github.com/PaulHatch/semantic-version https://github.com/PaulHatch/semantic-version/tree/v5.0.2
# See https://github.com/softprops/action-gh-release https://github.com/softprops/action-gh-release/tree/v1

name: 'Auto release'
on:
  push:
    branches:
      - main

jobs:
  tag-and-release:
    runs-on: ubuntu-22.04
    steps:
      - name: Fetching all commits for the current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Force fetch all commits - See https://github.com/PaulHatch/semantic-version#important-note-regarding-the-checkout-action

      # Outputs documentation: https://github.com/PaulHatch/semantic-version/blob/master/src/main.ts#L22-L33
      - name: Resolving next Release Candidate version using semantic-version
        uses: paulhatch/semantic-version@v5.0.2
        id: next_semantic_version
        with: # See https://github.com/PaulHatch/semantic-version#usage
          tag_prefix: "v" # The prefix to use to identify tags
          major_pattern: "(MAJOR)" # A string which, if present in a git commit, indicates that a change represents a major (breaking) change
          minor_pattern: "(MINOR)" # Same as above except indicating a minor change
          version_format: "${major}.${minor}.${patch}-rc.${increment}" # A string to determine the format of the version output
          bump_each_commit: true # If this input is set to true, every commit will be treated as a new version, bumping the patch, minor, or major version based on the commit message.

      - name: Printing semantic-version outputs (for debugging)
        run: |
          echo "Most useful outputs:"
          echo "Next version: ${{steps.next_semantic_version.outputs.version}}"
          echo "Next version tag: ${{steps.next_semantic_version.outputs.version_tag}}"
          echo -e "\n All outputs:"
          echo "version: ${{steps.next_semantic_version.outputs.version}}"
          echo "major: ${{steps.next_semantic_version.outputs.major}}"
          echo "minor: ${{steps.next_semantic_version.outputs.minor}}"
          echo "patch: ${{steps.next_semantic_version.outputs.patch}}"
          echo "increment: ${{steps.next_semantic_version.outputs.increment}}"
          echo "version_type: ${{steps.next_semantic_version.outputs.version_type}}"
          echo "changed: ${{steps.next_semantic_version.outputs.changed}}"
          echo "authors: ${{steps.next_semantic_version.outputs.authors}}"
          echo "version_tag: ${{steps.next_semantic_version.outputs.version_tag}}"
          echo "previous_commit: ${{steps.next_semantic_version.outputs.previous_commit}}"
          echo "current_commit: ${{steps.next_semantic_version.outputs.current_commit}}"

      - name: Creating Git release tag for the "${{steps.next_semantic_version.outputs.version_tag}}" version
        uses: softprops/action-gh-release@v1
        with: # See https://github.com/softprops/action-gh-release#-customizing
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: ${{steps.next_semantic_version.outputs.version_tag}}
          name: "Automatic release ${{steps.next_semantic_version.outputs.version_tag}}"
          prerelease: false
          generate_release_notes: true
          files: |
            CHANGELOG.md

      - name: Updating Git release tag for "latest" version
        uses: softprops/action-gh-release@v1
        with: # See https://github.com/softprops/action-gh-release#-customizing
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: latest
          name: "Latest release (auto-update) - UNSAFE for production usage"
          prerelease: false
          generate_release_notes: true
          files: |
            CHANGELOG.md

      - name: Updating Git release tag for the major "${{steps.next_semantic_version.outputs.major}}" version
        uses: softprops/action-gh-release@v1
        with: # See https://github.com/softprops/action-gh-release#-customizing
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: "v${{steps.next_semantic_version.outputs.major}}"
          name: "v${{steps.next_semantic_version.outputs.major}} latest release (auto-update)"
          prerelease: false
          generate_release_notes: true
          files: |
            CHANGELOG.md
