# Summary:
# Test if the GitHub Action builds correctly.
# Makes sure the GitHub Action builds when being built by GitHub Actions.
#
# See https://github.com/actions/checkout https://github.com/actions/checkout/releases/tag/v2

name: 'GitHub Action build test'
on:
  pull_request:
  push:

jobs:
  run-build-test:
    strategy:
      matrix:
        version: [ 16, 18, 20 ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn
          yarn build:once
