# Summary:
# Test if the the GitHub Action builds correctly.
# Makes sure the GitHub Action builds when being built by GitHub Actions.
#
# See https://github.com/actions/checkout https://github.com/actions/checkout/releases/tag/v2

name: 'GitHub Action build test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  run-build-test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          yarn
          yarn build:once
